<%= render 'navbars/back_navbar' %>
<div class="container inbox">
  <div id="filter-bar">
    <%= image_tag 'filter-icon.png' %>
  </div>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <div class="hidden inbox-filter-menu">
    <div class="inbox-filter-cat"><p>Invoice</p> <%= image_tag 'check_mark_black.png' %></div>
    <div class="inbox-filter-cat"><p>Contract</p> <%= image_tag 'check_mark_black.png' %></div>
    <div class="inbox-filter-cat"><p>Other</p> <%= image_tag 'check_mark_black.png' %></div>
  </div>

  <% @messages.each do |message| %>
    <%= link_to message_path(message), "data-type" => message.doc_type  do %>
      <div class="inbox-card">
        <div style="display: flex; align-items: center;">
          <%= cl_image_tag message.listing.photos.first.content, class: 'inbox-avatar' %>
        </div>
        <div class="message-body">
          <div class="message-filters">
            <span class="property-filter"><i class="fa fa-times-circle" aria-hidden="true"></i> <%= message.listing.name %></span>
            <span class="doc-filter"><i class="fa fa-times-circle" aria-hidden="true"></i> <%= message.doc_type %></span>
          </div>
          <div class="inbox-message">
            <h4><strong><%= message.title %></strong></h4>
            <p><%= message.content.first(35) %>...</p>
          </div>
        </div>

        <div class="attachment-image">
          <% if message.attachment == 'invoice' || 'contract' && message.doc_type != 'other' %>
          <%= image_tag 'attachment_light_000000.png', class: 'attch' %>
          <% else %>
            <%= "" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'shared/footer' %>
