<%= render 'navbars/back_navbar' %>
<div class="container inbox">
  <div id="filter-bar">
    <%= image_tag 'filter-icon.png' %>
  </div>
  <div class="hidden inbox-filter-menu" >
    <ul class="nav nav-tabs" role="tab-list">
      <li role="presentation" class="active">
        <a href="#property" id="tab" aria-controls="property" class="active" data-toggle="tab" role="tab"> Property</a>
      </li>
      <li role="presentation"  >
        <a id="tab" href="#document" data-toggle="tab" role="tab" aria-controls="document">Document Type</a>
      </li>
    </ul>
    <div style="width: 100%" >
      <form action="/messages" method="get">
        <div role="tab-panel" class="tab-pane show fade in active" id="property">
          <% @listings.each do |listing| %>
            <div class="filter-category">
              <label for="listing_id"><%= listing.display_name %></label>
              <div class="round">
                <input name="listing_id[]" value="<%= listing.id %>" type="checkbox" id="<%= listing.id %>" <%= 'checked' if params[:listing_id]&.include?(listing.id.to_s) %> />
                <label for="<%= listing.id %>"></label>
              </div>
            </div>
          <% end %>
        </div>
        <div role="tab-panel" id="document" class="tab-pane fade in">
          <div class="filter-category">
            <label for="doc_type">Invoice</label>
            <div class="round">
              <input name="doc_type" value="invoice" type="checkbox" id="checkbox1" <%= 'checked' if params[:doc_type]&.include?('invoice') %> />
              <label for="checkbox1"></label>
            </div>
          </div>
          <div class="filter-category">
            <label for="doc_type">Contract</label>
            <div class="round">
              <input name="doc_type" value="contract" type="checkbox" id="checkbox2" <%= 'checked' if params[:doc_type]&.include?('contract') %> />
              <label for="checkbox2"></label>
            </div>
          </div>
          <div class="filter-category">
            <label for="doc_type">Other</label>
            <div class="round">
              <input name="doc_type" value="other" type="checkbox" id="checkbox3" <%= 'checked' if params[:doc_type]&.include?('other') %> />
              <label for="checkbox3"></label>
            </div>
          </div>
        </div>
      <input type="submit" value="OK" class="inbox-btn-yellow" />
    </div>
  </div>

  <% @messages.each do |message| %>
    <%= link_to message_path(message), "data-type" => message.doc_type  do %>
      <div class="inbox-card">
        <div class="message-body">
          <div class="message-filters">
            <span class="property-filter"><%= message.listing.display_name.first(15) %></span>
            <span class="doc-filter"><%= message.doc_type %></span>
          </div>
          <div class="inbox-message">
            <h4><strong><%= message.title.first(40).capitalize %></strong></h4>
            <p><em><%= message.created_at.strftime("%b %d, %Y") %></em></p>
          </div>
        </div>

        <div class="attachment-image">
          <% if message.attachment == 'invoice' || 'contract' && message.doc_type != 'other' %>
          <%= image_tag 'attachment_light_000000.png', class: 'attch' %>
          <% else %>
            <%= "" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'shared/footer' %>

