<%= render 'navbars/back_navbar' %>
<div class="message-container">
  <div class="message-filters">
    <span class="property-filter"><i class="fa fa-times-circle" aria-hidden="true"></i> <%= @message.listing.name %></span>
    <span class="doc-filter"><i class="fa fa-times-circle" aria-hidden="true"></i> <%= @message.doc_type %></span>
  </div>
<div class="message-title">
  <%= cl_image_tag @message.listing.photos.first.content, class: 'inbox-avatar' %>
  <h4><%= @message.title %></h3>
</div>
<div class="message-content">
    <p><%= @message.content %></p>
</div>

<div>
  <% if @message.doc_type == 'invoice' || 'contract' && @message.doc_type != 'other' %>
    <%= image_tag @message.attachment, style: 'width: 100%;', class: 'attch' %>
  <% else %>
    <%= nil %>
  <% end %>

  <!-- this will be changed to a cl_image_tag when we have it -->
</div>
</div>
<%= render 'shared/footer' %>

