<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>All Messages</h1>
      <% if @messages %>
        <% @messages.each do |message| %>
        <div style="display: flex;">
          <%= message.title + " |" %>
          <%= message.content.first(30) + " |" %>
          <div style="margin-right: 10px;">
            <%= message.doc_type %>
          </div>
          <% if message.attachment.file %>
            <i class="fas fa-paperclip" style="margin: 0px 10px"></i>
          <% end %>
          <%= link_to "Delete", admin_message_path(message), :method => 'delete' %>
        </div>
        <% end %>
      <% else %>
        <h2>Send a new message</h2>
      <% end %>
      <%= link_to 'Send a new message', new_admin_message_path %>
    </div>
  </div>
</div>
