
  <div class="analytics-card-yellow">
    <div class="analytics-card-content">
      <h1><%= BookingCalculations.new(@bookings).revenue %>K €</h1>
      <h2>revenue</h2>
    </div>
    <div class="information-icon">
      <%= image_tag 'information.png', class: "information-icon" %>
    </div>
  </div>

  <div class="analytics-card-yellow">
    <div class="analytics-card-content">
      <h1><%= BookingCalculations.new(@bookings).bookings_count %></h1>
      <h2>bookings</h2>
    </div>
    <div class="information-icon">
      <%= image_tag 'information.png', class: "information-icon" %>
    </div>
  </div>

  <div class="analytics-card-grey-all">
    <div class="analytics-card-grey">
      <div class="analytics-card-content-grey">
        <h1><%= BookingCalculations.new(@bookings).average_rate %>€</h1>
        <h2>average daily rate</h2>
      </div>
      <div class="information-icon">
        <%= image_tag 'information.png', class: "information-icon" %>
      </div>
    </div>

    <div class="analytics-card-grey">
      <div class="analytics-card-content-grey" id="right">
        <h1><%= BookingCalculations.new(@bookings).occupancy %>%</h1>
        <h2>occupancy rate</h2>
      </div>
      <div class="information-icon">
        <%= image_tag 'information.png', class: "information-icon" %>
      </div>
    </div>
  </div>



