<h1>Add listings to this user!</h1>
<% if @user_listings.any? %>
  <% @user_listings.each do |user_listing| %>
    <div style="display: flex; justify-content: space-around, align-items: center, border: 1px solid black;">
          <%= user_listing.user.first_name + " " %>
          <%= user_listing.user.last_name + " -" %>
          <%= user_listing.listing.name %>
    </div>
  <% end %>
<% else %>
  <h2>Select listing from Dropdown!</h2>
<% end %>

<%= simple_form_for [:admin, @user, @user_listing] do |f| %>
<%= f.input :listing_id, collection: [1, 2, 3, 4, 5] %>
<%= f.submit "Add this listing to user" %>
<% end %>

<%= link_to "Go back to Users page", admin_users_path, :action => 'go' %>


