<%= render 'navbars/home_navbar' %>
<div class="container">
  <%= render 'shared/stories_header' %>
  <% @listing.photos.order(id: :asc).each do |photo| %>
    <div class="row photos_container">
      <div class="col-xs-12" style="width: 100%; margin: 10px; justify-content: center;">
        <div style="margin-bottom: 4px; width:100%;">
          <%= cl_image_tag(photo.content, crop: "fill", width: 357, height: 150) %>
        </div>
        <div>
          <%= simple_form_for photo do |f| %>
            <%= f.input :story, label: false, placeholder: 'Add a story BITCH!', class: "story-form" %>
            <button class="post-btn">
              <%= f.submit value: "Post", class: "remove-submit-styling" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
