<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EMERALD | Owners</title>
    <%= favicon_link_tag asset_path('Favicon2.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> -->
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c8a971a06271b0017c06bfa&product=inline-share-buttons' async='async'></script>
  </body>
</html>
